[project]
name = "logger-datatable"
version = "0.1.0"
description = "A different approach to managing data in python"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "mypy>=1.19.1",
    "ruff>=0.14.9",
]
